* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#preloader {
  background-color: #C3DBE1;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  /* display: none; */
}

#preloader img {
  /* width: 18rem; */
  width: 4rem;
  height: auto;
  position: absolute;
  top: 45%;
  left: 50%;




}

#preloader p {
  position: absolute;
  top: 55%;
  left: 50.2%;
}

body {
  background-color: lightgrey;
  background-color: #d9edf2e4;
  background-color: #ddebf1fe;
  /* background-color: #C3DBE1 !important; */
}

nav {
  /* color: black !important; */
  /* background-color: #bfbfbf; */
  /* text-transform: uppercase; */
}


/* .collapse li a {
  color: rebeccapurple;
}
.collapse li a:hover {

  transition: all 0.5s ease;
} */

header .navbar-light {
  background-color: #dff3f8;
}

header .navbar-brand img {
  width: 75px;
  height: 58px;
}

.carousel-inner .carousel-item img {
  height: 90vh;
}


.navbar-light .navbar-nav .nav-link {
  margin-left: 1.2rem;
  font-size: 16.5px;
  font-size: 13px;
  text-transform: uppercase;
  color: #265DA6;
  font-weight: 700;
  letter-spacing: 0.7px;
  border-bottom: solid 2px transparent;
  position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #038270;
  transition: all 0.7s;
}

.navbar-light .navbar-nav .nav-link:hover::before {

  color: #038270;
  border-bottom: solid 2px #038270;
  padding: 0;
  margin: 0;
  content: "";
  width: 50%;
  height: 1.1px;
  background-color: white;
  position: absolute;
  right: 0.5rem;
  bottom: 2px;
  transition: all 0.8s;

}















/* header .nav-item {
  margin-left: 0.3rem;
} */
/* .carousel {
  
} */
/* .about {
  margin-top: 2.5rem;
} */
.midContent {
  margin-top: 5rem;
}



footer {

  background-color: rgba(0, 0, 0, 0.884);

  margin-top: 5rem;
  padding: 3rem 0;
}

footer ul {
  list-style: none;
}

footer h3 {
  margin-left: 2rem;
}

.icons i {
  font-size: 1.8rem;
  color: white;
  margin-left: 5px;
}

.icons i:hover {
  color: #74A094;
  color: #13c362;
  transition: all 0.5s;
}

.copyright {
  background-color: rgb(61, 60, 60);
  background-color: rgba(0, 0, 0, 0.804);
  padding: 0;
  margin: 0;
  color: #C3DBE1;
  color: gray;

}

.copyright p {
  margin: 0;
  padding: 1rem 0;
  color
}

footer ul li {
  letter-spacing: 0.5px;
  font-weight: 400;

}

footer ul li:hover {
  cursor: pointer;
  color: #2dc48c;
  transition: all 0.5s;
}


/* .dropdown:hover .dropdown-menu {
  display: block;
  

} */